<mat-card *ngIf="farmer" class="farmer-card">
  <mat-card-header>
    <mat-card-title
      ><div class="title">
        <mat-icon>agriculture</mat-icon>
        <div class="title__identification">
          {{ 'FARMER_CARD.LABEL.IDENTIFICATION' | translate }}:
          {{ farmer.personIdentification | mask: 'CPF_CNPJ' }}
        </div>
      </div></mat-card-title
    >
    <mat-card-subtitle
      >{{ 'FARMER_CARD.LABEL.COMPANY_NAME' | translate }}:
      {{ farmer.companyName }}</mat-card-subtitle
    >
    <mat-card-subtitle
      >{{ 'FARMER_CARD.LABEL.TRADING_NAME' | translate }}:
      {{ farmer.tradingName }}</mat-card-subtitle
    >
    <mat-card-subtitle
      ><div class="farmer-info">
        <mat-icon class="farmer-info__icon">location_on</mat-icon>
        <div class="farmer-info__description" *ngIf="statesById$ | async as statesById">
          {{ 'FARMER_CARD.LABEL.LOCATION' | translate }}: {{ farmer.city }} -
          {{ statesById[farmer.stateId].code }}
        </div>
      </div></mat-card-subtitle
    >
    <mat-card-subtitle *ngIf="farmer.phoneNumber"
      ><div class="farmer-info">
        <mat-icon class="farmer-info__icon">call</mat-icon>
        <div class="farmer-info__description">
          {{ 'FARMER_CARD.LABEL.PHONE_NUMBER' | translate }}:
          {{ farmer.phoneNumber | mask: '(00) 0000-0000||(00) 00000-0000' }}
        </div>
      </div></mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-actions>
    <button class="action-button" mat-stroked-button color="primary" (click)="openEditDialog()">
      <mat-icon>edit</mat-icon>
      {{ 'FARMER_CARD.EDIT' | translate }}
    </button>
    <button class="action-button" mat-stroked-button color="warn" (click)="openDeleteDialog()">
      <mat-icon>delete</mat-icon>
      {{ 'FARMER_CARD.DELETE' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
